* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.wraper {
  width: 200px;
  margin: 20px auto;
  color: gray;
}
.hello {
  text-align: center;
}
.welcome {
  font-size: 1.5em;
  text-align: center;
}
.icons{
  text-align: center;
}
img{
  margin: 10px
}
